---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import EmpyState from '../components/EmpyState.astro'
import {Modal} from 'accessible-astro-components'
const myName = 'Nagisa'
const skills = ['HTML', 'CSS', 'JavaScript', 'React', 'Astro', 'Writing Docs']
const skillColor = 'navy'
const messageColor = 'green'
---

<DefaultLayout title="Users">
  <section>
    <h1>{myName}</h1><br />
    <p>Skill</p>
    <ul>{skills.map((skill) => <li class="skill">{skill}</li>)}</ul>
    {skills.includes('JavaScript') && <p class="message">I know Javascript</p>}
    <p class="size-20">Lorem ipsum dolor sit amet.</p>
  </section>
  <section class="margin-32">
    <div class="space-content">
      <h2>Users overview</h2>
      <EmpyState>You haven't added any users yet. Start by adding some.</EmpyState>
      <button id="modal-trigger" class="button color-secondary">Add your first user</button>
      <Modal triggerId="modal-trigger" title="Add user" closeText="Cancel">
        <p>You can use this component to include a form that adds a new user to the list.</p>
      </Modal>
    </div>
  </section>
</DefaultLayout>
<style define:vars={{skillColor, messageColor}}>
  h1 {
    color: pink;
    font-size: 4rem;
  }
  .skill {
    color: var(--skillColor);
  }
  .message {
    color: var(--messageColor);
  }
</style>
